header {
	width: 100vw;
	height: 6vh;
	text-align: center;
	border-bottom: 4px solid black;
}

a {
	border: chocolate;
}

body {
    background-color: #7E4D29;
}


#qrcode {
	display: flex;
	position: absolute;
	left: 90;
	top: 120;

}


.cartel-se-busca {
    width: 70%; /* Ajusta el ancho según sea necesario */
    max-width: 800px; /* Limita el ancho máximo */
    background-color: #f5deb3;
    border: 4px solid #8b4513; /* Aumenta el grosor del borde */
    border-radius: 20px; /* Aumenta el radio del borde */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Aumenta el tamaño de la sombra */
    padding: 30px; /* Aumenta el relleno interno */
    font-family: 'Old Standard TT', serif;
    margin: 10% auto; /* Centra vertical y horizontalmente */
    margin-top: 5%;
  }

.cartel-se-busca > img {
    width: 30%;
    margin-left: 35%;
}
  

.cartel-se-busca h2 {
    margin-top: 0;
    text-align: center;
    font-size: 24px;
    color: #8b4513; /* Marrón oscuro */
}

.cartel-se-busca ul {
    padding-left: 20px;
}

.cartel-se-busca li {
    font-size: 18px;
    color: #8b4513; /* Marrón oscuro */
}
