#cobro{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(255, 150, 0, 0.5), rgba(255, 0, 150, 0.5)); /* Fondo vistoso */
    display: none;
}

#reader {
    width: 90%;
    height: 1176;
    margin: auto;
    position: relative;
    border-radius: 5%;
    overflow: hidden;
}
