* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("imagenes/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: 6vh;
    text-align: center;
}

h2 {
    color: #8f90b5;
    font-size: 4rem;
    text-align: center;
    padding-top: 5vh;
}

#add_button {
    width: 4vw;
    height: 4vw;
    margin-left: 48vw;
    border-radius: 50%;
    border: none;
    background-color: green;
    color: white;
    font-size: 1.5rem;
}

#grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;
    margin-top: 35%;
}
#grid {
    display: grid;
    grid-template-columns: repeat(6, 120px);
    grid-template-rows: repeat(8, 120px);
    background-color: #3c2012;
}
.cell {
    width: 120px;
    height: 120px;
    border: 10px solid #c4b188;
    display: block;
}
